<nav
  class="
    fixed
    z-50
    w-full
    h-16
    flex
    justify-center
    items-center
    shadow-md
    bg-gray-900
    text-gray-300
  "
>
  <div class="container px-6 sm:px-0 mx-auto flex items-center justify-between">
    <div class="flex-shrink-0 mr-0 sm:mr-20">
      <a href="home.html" class="font-bold text-xl text-gray-100"
        >CodingCamp.uz</a
      >
    </div>
    <div>
      <button
        id="navbar_toggler"
        class="
          md:hidden
          w-6
          h-5
          flex flex-col
          justify-between
          items-center
          flex-shrink-0
        "
      >
        <div class="w-2/3 bg-gray-300" style="height: 2px"></div>
        <div class="w-full bg-gray-300" style="height: 2px"></div>
        <div class="w-2/3 bg-gray-300" style="height: 2px"></div>
      </button>
    </div>
    <div
      id="toggleable_navbar"
      class="
        flex flex-col
        md:flex-row
        items-start
        md:items-center
        w-2/3
        sm:w-1/2
        md:w-full md:justify-between
        fixed
        md:static
        top-16
        right-0
        bg-gray-900
        md:bg-transparent
        h-screen
        md:h-auto
        px-10
        py-5
        md:px-0 md:py-0
        mr
        md:mr-0
        transition-all
        duration-300
      "
    >
      <div
        class="
          flex flex-col
          items:start
          md:flex-row md:items-center
          gap-7
          text-base text-gray-300
          font-bold
        "
      >
        {% for cat in categories %}
          <a href="{% url 'by_category' cat.slug %}" class="hover:text-white transition duration-200">{{ cat | capfirst}}</a>
        {% endfor %}
      </div>

      
    </div>
  </div>
</nav>
<div class="w-full h-16"></div>
