<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="tailwind.css" />
    <link rel="stylesheet" href="style.css" />

    <script src="https://kit.fontawesome.com/5e8819f1c3.js" crossorigin="anonymous"></script>
    <title>Article</title>
  </head>
  <body class="font-poppins text-gray-800 bg-gray-200 h-screen max-h-screen w-full flex flex-col justify-between items-center">


    <!-- NAVBAR -->
  <nav class="fixed z-50  w-full h-16 flex justify-center items-center shadow-md bg-gray-900 text-gray-300">
		<div class="container px-6 sm:px-0 mx-auto flex items-center justify-between">
			<div class="flex-shrink-0 mr-0 sm:mr-20">
				<a href="home.html" class="font-bold text-xl text-gray-100">Pythonist.ru</a>
			</div>
			<div>
				<button id="navbar_toggler" class="md:hidden w-6 h-5 flex flex-col justify-between items-center flex-shrink-0">
					<div class="w-2/3 bg-gray-300" style="height: 2px;"></div>
					<div class="w-full bg-gray-300" style="height: 2px;"></div>
					<div class="w-2/3 bg-gray-300" style="height: 2px;"></div>
				</button>
			</div>
			<div id="toggleable_navbar" class="flex flex-col md:flex-row items-start md:items-center w-2/3 sm:w-1/2 md:w-full md:justify-between fixed md:static top-16
						right-0 bg-gray-900 md:bg-transparent h-screen md:h-auto px-10 py-5 md:px-0 md:py-0 mr md:mr-0 transition-all duration-300">
	
				<div class="flex flex-col items:start md:flex-row md:items-center gap-7 text-base text-gray-300 font-bold">
					<a href="#" class="hover:text-white transition duration-200">Python chat</a>
					<a href="#" class="hover:text-white transition duration-200">Python Tips</a>
					<a href="#" class="hover:text-white transition duration-200">Django</a>
					<a href="#" class="hover:text-white transition duration-200">Quizzes</a>
					<a href="#" class="hover:text-white transition duration-200">Top</a>
					<a href="#" class="hover:text-white transition duration-200">ML</a>
				</div>

				<div class="flex flex-col md:flex-row items-start md:items-center gap-4 mt-12 md:mt-0">
          <a href="#" class="text-base text-gray-200 font-bold">Login</a>
          <a href="#" class="font-bold text-gray-700 md:py-2 md:px-5 rounded-md bg-transparent md:bg-gray-100 md:text-gray-800">Sign up</a>
	      </div>
			</div>
		</div>
	</nav>
	<div class="w-full h-16"></div>

	<div class="w-96 py-5 pb-8 px-5 rounded-xl bg-white shadow-lg">
        <h3 class="font-bold text-gray-700">Log in</h3>
        <form action="" class="mt-4 flex flex-col gap-2">
            <label class="font-bold text-gray-500 text-sm" for="email">Email</label>
            <input class="bg-white shadow-md rounded-3xl outline-none py-2 px-3 font-semibold placeholder-gray-300 text-sm" type="text" id="email" placeholder="example@gmail.com">
            <label class="font-bold text-gray-500 text-sm mt-3" for="password">Password</label>
            <input class="bg-white shadow-md rounded-3xl outline-none py-2 px-3 font-semibold text-sm" type="password" id="password">
            <button class="px-6 py-2 mt-4 rounded-3xl bg-green-500 text-sm text-white font-bold self-center" type="submit">Submit</button>
        </form> 
        <div class="w-full flex items-center justify-center gap-3 mt-3">
            <span class="text-gray-500 font-medium text-sm">Haven't registered yet?</span>
            <a href="#signup" class="text-blue-500 hover:text-blue-600 font-medium text-sm">Create an account</a>
        </div>
    </div>
    <div></div>

	<!-- FOOTER -->
<!-- 	<div class="w-full mt-20 py-10 flex flex-col gap-2 items-center bg-gray-900 text-gray-200 text-sm">
		<p class="font-bold">Show the resource when you copy</p>
		<p class=""><span class="font-bold">Github</span>: <a href="#" class="hover:underline">@ismatullayevs</a></p>
		<p class=""><span class="font-bold">Telegram</span>: <a href="#" class="hover:underline">@ismatullayevs</a></p>
	</div> -->


	<script src="index.js">	</script>
  </body>
</html>
